{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center mt-5 mb-5 align-items-center">
        <div class="w-50 ">
            <h1>{{ type }}</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}

            {% for field in registrationForm %}
                <div class="form-group">
                    {{ form_row(field) }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
